In [1]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import os
import time

In [2]:
executable_path = {'executable_path': 'C:\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [3]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [6]:
#find news title and paragraph from the latest article
Latest_article = soup.find("div", class_='list_text')
news_title =Latest_article.find("div", class_="content_title").text
news_paragraph = Latest_article.find("div", class_ ="article_teaser_body").text
print(news_title)
print(news_paragraph)

NASA's MAVEN Observes Martian Night Sky Pulsing in Ultraviolet Light
Vast areas of the Martian night sky pulse in ultraviolet light, according to images from NASA’s MAVEN spacecraft. The results are being used to illuminate complex circulation patterns in the Martian atmosphere.

# JPL Mars Space Images - Featured Image

In [10]:
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)

In [11]:
#navigate to the full size picture first
browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(10)
browser.click_link_by_partial_text('more info')
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [15]:
image_url=soup.find("figure", class_='lede').a['href']
main_url="https://www.jpl.nasa.gov"
featured_image_url=main_url+image_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16884_hires.jpg'

# Mars Weather

In [22]:
tweeter = "https://twitter.com/marswxreport?lang=en"
browser.visit(tweeter)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [26]:
#find latest tweets
tweets = soup.find_all('div', class_="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0")

tweets

[]

# Mars Facts

In [46]:
url = "https://space-facts.com/mars/"
tables = pd.read_html(url)
df = tables[1]

# Rename columns
mars_facts=df.drop(["Earth"],axis=1)
mars_facts.columns=["Description","Value"]
mars_facts.set_index('Description', inplace=True)
mars_facts

                              Value
Description
Diameter:                  6,779 km
Mass:               6.39 × 10^23 kg
Moons:                            2
Distance from Sun:   227,943,824 km
Length of Year:      687 Earth days
Temperature:          -153 to 20 °C